@import "Particle.scss";

*{margin: 0; padding: 0;
  overflow: hidden;
  -webkit-user-select: none; 
          user-select: none;
}

#main{
  width: 100vw; height: 100vh; 
}

#particleScreen{
  background-color: red;
}

#maincont{
  width: 100vw; height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('../assets/img/blue-snow.png');
  background-repeat: repeat;
  background-size: 30vw 20vh;
}

#mainheader{
  height: 40vh;
  h1, h4{
    text-align: center;
    color:rgb(30, 29, 29);
  }
  h1{
    margin-top: 25vh;
    color:rgb(0, 0, 0);
  }
}
#mainbody{
  height: 60vh;
  p{
    color:rgb(56, 53, 53);
    padding: 0 20vw;
    text-align: center;
  }
}